<div class="title">
  <label>{{ title }}</label>
</div>

<div class="containerDiv">

  <div class="myformDiv">
    <form [formGroup]="myForm">

      <div class="textDiv">
        <textarea rows="5" formControlName="inputText" placeholder="Insert a text"></textarea>

        <label class="errorMessage" *ngIf="!myForm.controls.inputText.valid  && (inputText || submitAttempt)">{{errorMsgText}}</label>
        <label *ngIf="formValid">{{wordsQuantity}} words</label>
      </div>
    
      <div class="urlInputDiv">
        <input type="url" name="url" placeholder="Insert a URL" formControlName="inputUrl" class="inputUrl">

        <div *ngIf="formValid" class="textOutDiv">{{errorMsg}} {{textOut}}</div>

        <div class="urlMsgDiv">
          <label class="errorMessage" *ngIf="!myForm.controls.inputUrl.valid  && (inputUrl || submitAttempt)">{{errorMsgUrl}}</label>
          <label *ngIf="formValid">{{textOutQuantity}} words</label>
        </div>
    </div>
    </form>
  </div>

  <div class="buttonDiv">
      <button type="submit" (click)="submitText()" class="buttonSubmit">Submit</button>
  </div>

</div>

<router-outlet></router-outlet>
